body {
    background-color: #575757;
    font-family: 'Aclonica', sans-serif;
}

nav {
    background-color: #D9D9D9;
    height: 62px;
    display: flex;
}

.logo {
    height: 43px;
    width: 43px;
    align-content: center;
}